name: CI build (Legacy)

on:
  schedule:
    - cron: "22 * * * *"
  push:
    branches:
      - master
  workflow_dispatch:
    branches:
  pull_request:

jobs:
  build:

    env:
      PY_COLORS: "1"
    strategy:
      fail-fast: false
      max-parallel: 2
      matrix:
        os: [ubuntu-20.04, macos-latest]
        python-version: ["3.6"]

    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip setuptools
    - name: Install pynose
      run: |
        python setup.py install
    - name: Lint with flake8
      run: |
        pip install flake8
        # Stop the build if there are flake8 issues
        flake8 . --count --show-source --statistics --exclude=temp
    - name: Make sure pynose is working
      run: |
        echo "def test_1(): pass" > nothing.py
        pynose nothing.py
        nosetests nothing.py
    - name: Verify pynose clone from GitHub
      run: |
        git clone https://github.com/mdmintz/pynose.git
    - name: Verify pynose install from PyPI
      run: |
        pip install pynose -U --no-deps --force-reinstall --no-cache-dir --user
